<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <!--CONEXAO LOCAL-->
  <!--
    <connectionStrings>
        <add name="SistemaClinica.My.MySettings.sistema_clinicaConnectionString"
            connectionString="server=localhost;user id=root;database=sistema_clinica"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>    
    -->
  
    <!--CONEXAO HOSPEDADA-->
    <connectionStrings>
        <add name="SistemaClinica.My.MySettings.sistema_clinicaConnectionString"
            connectionString="server=mysql642.umbler.com;user id=hugo_sistema;database=sistema_clinica;password=sistema_hugo;port=41890"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>  

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>